.cart-content .container-fluid{
    padding-top: 40px;
    padding-bottom: 80px;                                        
}

.cart-line{
    margin-top:150px;			
}

/* cart 글 */
.cart-line .text{
    position: absolute;
    top:10%;
    text-align: center;
    font-size: 2em;
    border-bottom:3px solid #d15851;
    padding-bottom: 10px;
    width:80%
}

/* 장바구니 추가 목록 */
.cart-list{
    margin-top: 100px;
    margin-left: 50px;
    width: 60%;
    height: 80%;
    clear:both;
}

/* 가격 확인 */
.price-check{
    position:absolute;
    top:12%;
    margin-top: 100px;
    left:65%;
    border:1px solid lightgray;
    border-radius: 10px 10px 10px 10px;
    width: 20%;
    height: 300px;   
}

.cart-table{
    clear:both;
    width: 100%;
}
.cart-table thead tr{
    height: 30px;
}

/* 목록 제목 */
.cart-table thead, .cart-table tbody{
    border-bottom: 2px solid lightgray;
}
/* 목록  */
.cart-table tbody tr{
    border-bottom: 2px solid lightgray;
    height: 200px;
}

.cart-img-line{
    width: 10px;
}
.cart-img-name{
    width: 300px;
    padding:20px;
}

/* 상품 이름 자동줄바꿈 */
.cart-img-name .text{
    word-break:break-all;
}
.cart-img{
    margin:0;
    position: relative;
    border: 1px solid lightgray;
    width: 150px;
    height: 150px;
}
.cart-img img{
    position:absolute;
    top:5%;
    left:5%;
    width: 130px;
    height: 130px;
}

.cart-img-rightline input[type="text"]{
    width: 30px;
}

.pagination-cart{
    width: 20%;
    margin-left: 18%;
    padding-top: 10px;
}

/* 결제서 */
.summary-table{
    text-align: center;
    margin-left: 8%;
    width: 80%;
    margin-bottom: 16px;
}
.summary-table .one-line th{
    font-weight: 900;
    font-size: 1.5em;
}
.one-line, .two-line, .three-line{
    border-bottom: 2px solid lightgray;
    padding-bottom: 10px;
}
.summary-table td, .summary-table th{
    padding:7px;    
}

.estimated-payment{
    font-weight: bold; 
    font-size: 1.2em;
}

